{% extends 'urlshortener/base.html' %}
{% block body %}
<div class="container">
    <h1 class="mt-4 mb-4">Subscribe to DarkPoint.pro!</h1>
    <div id="paypal-button-container"></div>
</div>
{% endblock %}
{% block foot_scripts %}
<script
    src="https://www.paypal.com/sdk/js?client-id=Ab2pvR0hwUkKxNA_v1E1y7Bq7-MkrCnVhY1O7TBmERX-Yu3e5eaHX23tdqNAmfZ08Y_RBgPOR99bqXQy">
    </script>
<script>
    paypal.Buttons({
        createOrder: function (data, actions) {
            // This function sets up the details of the transaction, including the amount and line item details.
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '20'
                    }
                }]
            });
        },
        onApprove: function (data, actions) {
            // This function captures the funds from the transaction.
            return actions.order.capture().then(function (details) {
                // This function shows a transaction success message to your buyer.
                alert('Transaction completed by ' + details.payer.name.given_name);
                payment_data = {
                    'payer_id': details.payer.payer_id,
                    'payer_email': details.payer.email_address,
                    'first_name': details.payer.name.given_name,
                    'last_name': details.payer.name.surname,
                    'amount_paid': details.purchase_units[0].amount.value,
                    'currency': details.purchase_units[0].amount.currency_code,
                    'csrfmiddlewaretoken': "{{ csrf_token }}"
                }
                console.log(details);
                console.log(payment_data);
                $.ajax({
                    url: "{% url 'subscribe' %}",
                    type: "POST",
                    data: payment_data,
                    success: (result) => {
                        console.log(result);
                        window.location.replace(result.redirect_to)
                    }
                })
            });
        }
    }).render('#paypal-button-container');

</script>
{% endblock %}