{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login to DarkPoint.Pro</title>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<!-- <div class="container"> -->
		<div
			class="col-xs-12 col-sm-8 col-md-4 col-lg-6 col-xl-6 offset-sm-2 offset-md-4 offset-lg-3 offset-xl-3 mt-4"
		>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Login
					</h3>
				</div>
				<div class="panel-body">
					<form method="POST" action="#" id="login-form" novalidate>
						{% csrf_token %}
						<div class="form-group">
							<input
								type="text"
								name="username"
								id="username"
								class="form-control input-sm"
								placeholder="Username"
								required
							/>
						</div>
						<div class="form-group">
							<input
								type="password"
								name="password"
								id="password"
								class="form-control input-sm"
								placeholder="Password"
								minlength="8"
								required
							/>
						</div>
						<div class="form-row">
							<div class="col-sm-6 col-md-6 col-lg-6">
								<a
									href="/accounts/register/"
									class="btn btn-info btn-block"
								>
									Register
								</a>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-6">
								<button
									type="submit"
									class="btn btn-info btn-block"
									value="login"
								>
									Login
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- </div> -->
		<script
			src="http://code.jquery.com/jquery-3.5.1.min.js"
			integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"
		></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"
		></script>
		<script src="{% static 'accountsmanagement/js/login.js' %}"></script>
	</body>
</html>
