{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Register to DarkPoint.Pro</title>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<!-- <div class="container"> -->
		<div
			class="col-xs-12 col-sm-8 col-md-4 col-lg-6 col-xl-6 offset-sm-2 offset-md-4 offset-lg-3 offset-xl-3 mt-4"
		>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Register
					</h3>
				</div>
				<div class="panel-body">
					<form
						method="POST"
						action="#"
						id="signup-form"
						novalidate
						oninput='password_confirmation.setCustomValidity(password_confirmation.value != password.value ? "Passwords do not match." : "")'
					>
						{% csrf_token %}
						<div class="form-row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input
										type="text"
										name="first_name"
										id="first_name"
										class="form-control input-sm"
										placeholder="First Name"
										required
									/>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input
										type="text"
										name="last_name"
										id="last_name"
										class="form-control input-sm"
										placeholder="Last Name"
										required
									/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<input
								type="text"
								name="user-name"
								id="user-name"
								class="form-control input-sm"
								placeholder="Username"
								required
							/>
						</div>
						<div class="form-group">
							<input
								type="email"
								name="email"
								id="email"
								class="form-control input-sm"
								placeholder="Email Address"
								required
							/>
						</div>

						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input
										type="password"
										name="password"
										id="password"
										class="form-control input-sm"
										placeholder="Password"
										minlength="8"
										required
									/>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input
										type="password"
										name="password_confirmation"
										id="password_confirmation"
										class="form-control input-sm"
										placeholder="Confirm Password"
										minlength="8"
										required
									/>
									<div class="invalid-feedback">
										passwords don't match
									</div>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="col-sm-6 col-md-6 col-lg-6">
								<input
									type="submit"
									value="Register"
									class="btn btn-info btn-block"
								/>
							</div>
							<div class="col-sm-6 col-md-6 col-lg-6">
								<a
									class="btn btn-info btn-block"
									value="login"
									href="/accounts/login/"
								>
									Login
								</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- </div> -->
		<script
			src="http://code.jquery.com/jquery-3.5.1.min.js"
			integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"
		></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"
		></script>
		<script src="{% static 'accountsmanagement/js/register.js' %}"></script>
	</body>
</html>
