{% extends 'urlshortener/base.html' %}
{% load static %}
{% block body %}
<div class="container">
    <h1>Short Urls</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>short url</th>
                <th>long url</th>
                <th>clicks</th>
                <th>created on</th>
                <th>Delete</th>

            </tr>
        </thead>
        <tbody>
            {% for shorturl in object_list %}
            <tr>
                <td>{{shorturl.uid}}</td>
                <td>{{shorturl.url}}</td>
                <td>{{shorturl.clicks}}</td>
                <td>{{shorturl.created_on}} UTC</td>
                <td><a class="btn btn-danger" href="/delete/{{shorturl.uid}}/">delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- pagination -->
    <nav>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; first</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
            </li>
            {% endif %}

            <li class="page-item active">
                <a class="page-link" href="?page={{page_obj.number}}">{{page_obj.number}}</a>
            </li>

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}