{% extends 'base.html' %}
{% block body %}
<form action="{% url 'authorize_url' uid %}" method="POST">
    {% csrf_token %}
    {{form.non_field_errors}}
    <div class="form-group">
        {{form.password.label_tag}}
        {{form.password}}
        {{form.password.errors}}
    </div>
    <input type="submit" class="btn btn-primary">
</form>
{% endblock %}