{% extends 'urlshortener/base.html' %}
{% load static %}
{% block body %}
<div class="container">
    <form action="{% url 'url_shorten'%}" method="POST">
        {% csrf_token %}
        {{form.non_field_errors}}
        <div class="form-group">
            {{form.url.label_tag}}
            {{form.url}}
            {{form.url.errors}}
        </div>
        <div class="form-group">
            {{form.url_password.label_tag}}
            {{form.url_password}}
            {{form.url_password.errors}}
        </div>
        <div class="form-group">
            {{form.expiry_date.label_tag}}
            {{form.expiry_date}}
            {{form.expiry_date.errors}}
        </div>
        <!-- {{form.as_p}} -->
        <input type="submit" class="btn btn-primary">
    </form>
</div>
{% endblock %}