{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
  of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
  for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="form-group">
    {{form.login.label_tag}}
    <input class="form-control" type="{{ form.login.field.widget.input_type }}" name="{{ form.login.html_name }}"
      placeholder="{{ form.login.field.widget.attrs.placeholder }}" required id="{{ form.login.id_for_label }}"
      autofocus="autofocus" />
    {{form.login.errors}}
  </div>
  <div class="form-group">
    {{form.password.label_tag}}
    <input class="form-control" type="password" name="{{form.password.html_name}}" autofocus="autofocus"
      placeholder="{{form.password.label}}" required id="{{form.password.id_for_label}}">
    {{form.password.errors}}
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="{{form.remember.html_name}}"
      id="{{form.remember.id_for_label}}">
    <label class="form-check-label" for="{{form.rember.id_for_label}}">{{form.remember.label}}</label>
  </div>
  <!-- {% for field in form %}
  <div class="form-group">
    {{ field.label_tag }} {{ field }}
    {% if field.help_text %}
    <small class="help form-text text-muted">{{ field.help_text|safe }}</small>
    {% endif %}
    {{ field.errors }}
  </div>
  {% endfor %} -->
  <!-- {{form.as_p}} -->
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="btn btn-light button secondaryAction"
    href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="btn btn-primary primaryAction" type="submit">{% trans "Sign In" %}</button>
</form>

{% endblock %}