{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{form.non_field_errors}}
  <div class="form-group">
    {{form.email.label_tag}}
    <input class="form-control" type="{{form.email.field.widget.input_type}}" name="{{form.email.html_name}}"
      placeholder="{{form.email.field.widget.attrs.placeholder}}" id="{{form.email.id_for_label}}" autofocus="autofocus"
      required>
    {{form.email.errors}}
  </div>
  <div class="form-row">
    <div class="form-group col">
      {{form.first_name.label_tag}}
      {{form.first_name}}
      {{form.first_name.errors}}
    </div>
    <div class="form-group col">
      {{form.last_name.label_tag}}
      {{form.last_name}}
      {{form.last_name.errors}}
    </div>
  </div>
  <div class="form-group">
    {{form.password1.label_tag}}
    <input class="form-control" type="{{form.password1.field.widget.input_type}}" name="{{form.password1.html_name}}"
      placeholder="{{form.password1.field.widget.attrs.placeholder}}" id="{{form.password1.id_for_label}}"
      autofocus="autofocus" required>
    {{form.password1.errors}}
  </div>
  <div class="form-group">
    {{form.password2.label_tag}}
    <input class="form-control" type="{{form.password2.field.widget.input_type}}" name="{{form.password2.html_name}}"
      placeholder="{{form.password2.field.widget.attrs.placeholder}}" id="{{form.password2.id_for_label}}"
      autofocus="autofocus" required>
    {{form.password2.errors}}
  </div>
  <!-- {{ form.as_p }} -->
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}